<div class="header" style="background-color: black;">
<header class="site-header">
  <div class="site-identity">
    <a href="#"><img src=""  width="600px" alt="" /></a>
    <h1><a href="#">Bridals</a></h1>
  </div>  
  <nav class="site-navigation">
    <ul class="nav">
      <li><a routerLink="/home" style="color:white;">Home</a></li>
      <li><a routerLink="/aboutus">AboutUs</a></li>
      <li><a routerLink="/product">Products</a></li>
      <li><a routerLink="/cart">Cart</a></li>
      
    </ul>
  </nav>
</header>
</div>


