<!-- footer -->

<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Trainer Name</h2>
                    <p><b>Varnan Alias Vellaivaranan sir</b></p>
                </div>
                <br><br>
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Github link</h2>
                    <a href="https://github.com/adiitya7476/Fruitables" style="color: inherit;"><b>Fruitables</b></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Team Members</h2>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/pallavi-walke-a442252a8" ><b>Miss.Pallavii Walke</b></a></li>
                        <li><b>Miss.Priyanka Patil</b></li>
                        <li><b>Miss.Manasi Patil</b></li>
                        <li><b>Miss.Vaishnavi Patil</b></li>
                    
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">About us</h2>
                    <p>Welcome to Bridals, 
                       </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li>Vidyanagar, near SGM College, Karad 415101 .</li>
                        <li>support&#64;bridals.com</li>
                        <li>+91 111 222 3333</li>
                    </ul>
                </div>
            </div>
           
           
        </div>
    </div>
</div>
<!-- end footer -->

<!-- copyright -->

<div class="copyright">
    <div class="container" >
        <div class="row" >
            <div class="col-lg-6 col-md-12" >
                <p>Connect us on LinkedIn - <a href="https://www.linkedin.com/in/pallavi-walke-a442252a8">Pallavii Walke</a>, 
                    <a href="">Priyanka Patil</a>,<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://www.linkedin.com/in/manasi-patil-a9b2262a8">Manasi Patil</a>,
                    <a href="">Vaishnavi Patil</a>
                    <br>
                   
                </p>
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons" style="color:white">
                    <ul >
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end copyright -->